$fff: #fff;
$color: green;
$primary: #68a235;
$success: #88c957;
$green-1: rgb(225, 252, 201, 0.25);
$green-2: rgb(192, 245, 151, 0.15);
$green-3: rgb(224, 249, 206, 0.75);
$tab-active: rgba(0, 0, 0, 0.5);
$background: #fff;
$font-1: #252933;
$font-2: #515767;
$font-3: #4e5969;
$font-4: #898c93;
$font-5: #999;
$font-6: #cacaca;
$border-color: #f5f7f9;
$active: green;
$hover-color: #dafdc4;
$hover-bg: #f5f7f9;
$hover-text-color: rgb(1, 80, 1);
$content-border-bg: rgb(237, 242, 232, 0.6);
$lg-active-colors: linear-gradient(-45deg, #6ba03c 0%, #377500 100%);
// $lg-active-colors: linear-gradient(-45deg, #88c957 0%, #377500 100%);
$lg-hover-colors: linear-gradient(-45deg, #30cfd0 0%, #330867 100%);

// 菜单图标样式
$lg-colors: linear-gradient(
  45deg,
  #3f51b1 0%,
  #5a55ae 13%,
  #7b5fac 25%,
  #8f6aae 38%,
  #a86aa5 50%,
  #cc6b8e 62%,
  #f18271 75%,
  #f3a469 87%,
  #f7c978 100%
);

$shadow: 0 0 8px 0 rgb(0, 0, 0, 0.15);
