$fff: #fff;
$color: green;
$primary: #68a235;
$background: #fff;
$font-1: #111;
$border-color: #f5f7f9;
$active: green;
$hover-color: #dafdc4;
$hover-bg: #f5f7f9;
$content-bg: rgb(237, 242, 232, 0.5);

// 菜单图标样式
$lg-colors: linear-gradient(
  45deg,
  #3f51b1 0%,
  #5a55ae 13%,
  #7b5fac 25%,
  #8f6aae 38%,
  #a86aa5 50%,
  #cc6b8e 62%,
  #f18271 75%,
  #f3a469 87%,
  #f7c978 100%
);

$shadow: 0 0 8px 0 rgb(0, 0, 0, 0.15);
