@import './color.scss';

@mixin textLg($color: $lg-colors) {
  background-image: $color;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@mixin radius($r: 35px) {
  border-top-left-radius: $r;
}

@mixin bgStyles() {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin bgMoveColor($pos: 29deg) {
  background: linear-gradient($pos, #e9defa, #fbfcdb, #a8edea, #e0c3fc, #d1e8f3);
  background-size: 200% 200%;
  animation: bgmove 10s infinite;
}

@keyframes bgmove {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
