@import '@/styles/index.scss';

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
}

:root {
  --background: #fff;
  --font-1: #111;
  --border-color: #f5f7f9;
  --primary: #68a235;
  --success: #88c957;
  --active: green;
  --hover-color: rgba(237, 242, 232, 0.85);
  --hover-bg: #f5f7f9;
  // 背景图片
  --bg-image-url: none;
  --bg-position: center;
  --bg-repeat: no-repeat;
  // 背景图片缩放大小
  --bg-img-size: cover;
  // 背景图片滤镜
  --backdrop-filter: initial;
  // 背景动画
  --bg-animation: none;
  --content-border-bg: rgb(237, 242, 232, 0.6);
  --lg-colors: linear-gradient(-45deg, #68a235 0%, #377500 100%);
  --lg-active-colors: linear-gradient(-45deg, #30cfd0 0%, #330867 100%);
  --green-1: rgb(225, 252, 201, 0.65);
  --green-2: rgba(238, 250, 229, 0.35);
  --green-3: rgb(224, 249, 206, 0.75);
  --tab-active: rgba(0, 0, 0, 0.2);
  --input-bg-color: transparent;
  --search-border-color: #fff;
  --font-color: none;
  --placeholder-color: #a8abb2;
  --hover-text-color: #c5ff95;
  --content-bg: rgb(237, 242, 232, 0.6);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--background);
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.el-notification {
  background-color: var(--content-border-bg);
  border: 1px solid var(--content-border-bg);
  backdrop-filter: blur(3px);

  .el-notification__title,
  .el-notification__content,
  .el-notification__closeBtn {
    color: var(--font-1);
  }
}
